<footer class="bg-grey-3 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<img src="/img/loggo.svg" alt="Rosentech logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 white">Rosentech</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Hem</a></li>
					<li><a href="/products" class="link">Vårt erbjudande</a></li>
					<li><a href="/questions" class="link">Produkter</a></li>
					<li><a href="/contact" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 white">Ta reda på mer</h3>
				<ul class="mb3">
					<li><a href="/products" class="link">Senaste nytt</a></li>
					<li><a href="/contact" class="link">Boka möte</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 white">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6532279.js"></script>
<!-- End of HubSpot Embed Code -->

