<div class="bg-primary">
    <img class="h-56 shadow-xl sm:h-80 w-full object-cover object-center" src="{{ .imageUrl }}"
        alt="Rosentech Datakonsulter">
    <div
        class="absolute rounded px-4 text-center text-xl sm:text-3xl md:text-5xl bg-black opacity-75 bg-transparent text-gray-200 -mt-32 sm:-mt-40 ml-10">
        <h1>
            {{ .title }}
        </h1>
    </div>
    <div
        class="absolute rounded px-4 text-center text-md sm:text-2xl bg-black opacity-75 text-gray-200 -mt-16 sm:-mt-20 ml-10">
        <h2>
            {{ .subtitle }}
        </h2>
    </div>
</div>