<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6532279",
	formId: "f36c5892-e8d0-40a0-a370-2925b89996a6"
});
</script>

<!-- <form action="" class="flex-ns mb3">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Din email" class="w-100">
    <label for="email">Din email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Skicka</button>

</form> -->
