<!-- <div id="app">
</div>
 -->
<form name="dmm" action="/questions/question-2" method="POST" data-netlify="true">
    <p>
      <label><b>We believe that our competitive strategy depends on digital:</b> 
        <input type="hidden" id="custId" name="custId" value="3487">
        <input type="hidden" id="questionNo" name="questionNo" value="1">
        <input type="hidden" id="section" name="section" value="Culture">
      <select name="answer">
        <option value="0">Completely disagree</option>
        <option value="1">Somewhat disagree</option>
        <option value="2">Somewhat agree</option>
        <option value="3">Completely agree</option>
      </select></label>
    </p>
      <button class="button" type="submit">Send</button>
    </p>
</form>
