<!DOCTYPE html>
<html lang="sv">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}

    <script>
      
      //Javascript to toggle the nav-menu
      document.getElementById('nav-open').onclick = function () {
          document.getElementById("nav-menu").classList.toggle("hidden");
          document.getElementById("nav-open").classList.toggle("hidden");
          document.getElementById("nav-close").classList.toggle("hidden");
      }
      document.getElementById('nav-close').onclick = function () {
          document.getElementById("nav-menu").classList.toggle("hidden");
          document.getElementById("nav-close").classList.toggle("hidden");
          document.getElementById("nav-open").classList.toggle("hidden");
      }
  </script>

  </body>
</html>
