{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}
 
<script>

/* Let's retrieve local storage user data if available */
document.forms["userData"]["name"].value = localStorage.getItem('myName');
document.forms["userData"]["email"].value = localStorage.getItem('myEmail');
document.forms["userData"]["identifierId"].value = localStorage.getItem('identifierId');

/* Store or update user data in local storage before leaving the page */
function storeUserData() {
  var x = document.forms["userData"]["name"].value;
  var y = document.forms["userData"]["email"].value;
  var z = document.forms["userData"]["identifierId"].value;
  
  localStorage.setItem('myName', x);
  localStorage.setItem('myEmail', y);
  localStorage.setItem('identifierId', z);
}

</script>


<div class="ph3 bg-off-white">
    <div class="center mw6 pv3">

      {{ .Content }}

      <div class="mb4">
          <h4 class="f3 b lh-title mb3 tc">Enter information below.

            </h4>
        
          <form name ="userData" action="/questions" method="POST" onsubmit="return storeUserData()" data-netlify="true">
            <div class="flex-l mhn1-l">
              <!-- Name -->
              <div class="ph1-l w-50-l">
                <fieldset>
                  <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2" required>
                  <label for="name">Name</label>
                </fieldset>
              </div>
              <!-- Email -->
              <div class="ph1-l w-50-l">
                <fieldset>
                  <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2" required>
                  <label for="email">Email</label>
                </fieldset>
              </div>
              <!-- Assessment # -->
              <div class="ph1-l w-50-l">
                  <fieldset>
                    <input type="text" id="identifierId" name="identifierId" placeholder="DMM Identifier" class="w-100 mb2" required>
                    <label for="identifierId">DMM Identifier</label>
                  </fieldset>
                </div>
            </div>
            <!-- Button -->
            <div class="tc">
              <button type="submit" class="btn w-100 w-auto-ns raise">Continue</button>
            </div>
          </form>
        </div>

    </div>
  </div>

{{ end }}