{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="pb4">
  <form name="dmm" action="" method="POST" data-netlify="true">
      <input type="hidden" id="custId" name="custId" value="1234">
      {{ range .Params.questions }}
      <div class="center mb3 ph3">
        <blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
          <p class="f4 mb0">“{{ .text }}”</p>
          <cite class="tr db grey-3">{{ .question }} – {{ .category }}</cite>     
            <p>
                <input type="hidden" id="questionNo" name="questionNo" value="{{ .question }}">
                <input type="hidden" id="section" name="section" value="{{ .category }}">
              <select name="answer-{{ .question }}">
                <option value="0">Completely disagree</option>
                <option value="1">Somewhat disagree</option>
                <option value="2">Somewhat agree</option>
                <option value="3">Completely agree</option>
              </select>
            </p>
        </blockquote>
      </div>
      {{ end }}
    <div class="center mb3 ph3">
      <blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
        <p>Submit answers and proceed<br/><button class="button" type="submit">Send</button></p>
      </blockquote>
    </div>
  </form>
</div>
{{ end }}